POST /api/auth/register
POST /api/auth/login


GET    /api/courses
POST   /api/courses
GET    /api/courses/:id
PUT    /api/courses/:id
DELETE /api/courses/:id


GET    /api/lessons
POST   /api/lessons
GET    /api/lessons/:id
PUT    /api/lessons/:id
DELETE /api/lessons/:id


GET    /api/progress
POST   /api/progress
GET    /api/progress/:userId

GET /api/analytics/platform
GET /api/analytics/courses
GET /api/analytics/users

GET /api/analytics/platform

GET /api/analytics/course/:courseId